extends layout

block content
  h1= title
   - let result = results;
   - var AirlineTicket=[{AirlineTicket_passengerName:"Shivani",AirlineTicket_ticketNumber:11200,AirlineTicket_seatNumber:25},{AirlineTicket_passengerName:"Samyuktha",AirlineTicket_ticketNumber:11201,AirlineTicket_seatNumber:26},{AirlineTicket_passengerName:"Lavanya",AirlineTicket_ticketNumber:11202,AirlineTicket_seatNumber:27}]
  div(class="container-fluid mt-3")
  div(class="row m-1")
   each result,index in results
    - let destination = `/AirlineTicket/update?id=${result._id}`
    div(class="col-sm-2" onclick =`buy(${index})`) #{result.passengerName}, #{result.ticketNumber}, #{result.seatNumber}
    button.btn(class="btn-primary ml-1", onclick=`dispatch('${destination}')`) Update
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }
        function dispatch(path) {
      
          window.location.href = path;
        }